@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-customizado{
    color:white
  }
  .bg-customLightGray {
    background-color: #C5C8D0; /* Sua cor personalizada aqui */
  }
  .bg-customMediumGray {
    background-color: #5A5E63; /* Sua cor personalizada aqui */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --primary: #0592D7;
  --secondary: rgba(31, 209, 253, 0.4);
  --tertiary: rgb(251, 251, 252);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--tertiary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}